{% extends 'layout.html' %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='medicines' %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Początek</a></li>
        <li><a href="/medicines/">Lista leków</a></li>
        <li class="active">{{ object.name }} {% if object.dose %} ({{ object.dose }}) {% endif %}</li>
    </ol>
{% endblock %}

{% block content %}
    <section class="box-typical box-typical-padding">
        <h1>{{ object.name }}</h1>
        <table class="table table-striped">
           <tbody>
            <tr>
                <td>Postać</td><td>{{ object.form }}</td>
            </tr>
            <tr>
                <td>Skład</td><td>{{ object.composition }}</td>
            </tr>
            <tr>
                <td>Dawka</td><td>{{ object.dose }}</td>
            </tr>
            <tr>
                <td>Podmiot odpowiedzialny</td><td>{{ object.mah }}</td>
            </tr>
           </tbody>
        </table>
        <h4 class="mb-1 mt-1">Opakowania</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Wielkość opakowania</th>
                    <th>Kod EAN</th>
                    <th>Kategoria dostępności</th>
                    <th>Refundacja</th>
                </tr>
            </thead>
            <tbody>
                {% for m in medicines %}
                    <tr>
                        <td>{{ m.size }}</td>
                        <td>{{ m.ean }}</td>
                        <td>{{ m.availability_cat }}</td>
                        <td>{% if m.refundation %}
                            <a href="#" data-medicine="{{ m.ean }}" class="refundation">TAK</a>
                        {% else %}NIE{% endif %}</td>
                    </tr>
                    {% if m.refundation %}
                        <tr style='display:none;'>
                            <td colspan='4'>
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Grupa limitowa</th>
                                            <th>Zakres wskazań objętych refundacją</th>
                                            <th>Zakres wskazań pozarejestracyjnych objętych refundacją</th>
                                            <th>Cena detaliczna</th>
                                            <th>Poziom odpłatności</th><th>Wysokość dopłaty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in m.refundations %}
                                            <tr>
                                                <td>{{ r.group }}</td><td>{{ r.recommendations }}</td>
                                                <td>{{ r.other_recommendations }}</td>
                                                <td>{{ r.price }}</td><td>{{ r.refundation }}</td><td>{{ r.to_pay }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block extra_scripts %}
  <script>
      $(document).ready(function(){
          $('a.refundation').click(function(this){  });
      });
  </script>    
{% endblock %}
