{% extends 'layout.html' %}
{% load static %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='tabs' %}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
    <section class="box-typical box-typical-padding">
        <div class="bootstrap-table">
            <div class="fixed-table-toolbar">
                <div class="bars pull-left">
                    <div id="toolbar">
                        <div class="bootstrap-table-header">Lista zakładek</div>
                        <a href="{% url 'tab-add' %}" class="btn btn-success">
                            <i class="font-icon font-icon-plus"></i> DODAJ
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Aktywna</th>
                    <th>Kolejność</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'tab-update' object.id %}">{{ object.title }}</a></td>
                        <td>
                            <div class="column-center checkbox checkbox-only">
                                <input data-id="{{ object.id }}" type="checkbox"
                                        {% if object.tab.obligatory %} disabled="disabled" {% endif %}
                                   class="form-control tab-enable" {% if object.enabled %}checked{% endif %}>
                                <label></label>
                            </div>
                        </td>
                        <td>{{ object.order }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/tabs.js" %}"></script>
{% endblock %}