{% extends 'layout.html' %}
{% load static %}
{% load utils_tags %}

{% block menu %}
    {% include 'visit/main_menu.html' %}
{% endblock %}

{% block body_extra_class %} control-panel {% endblock %}

{% block content %}
    <div class="row">
        <section class="tabs-section col-md-12">
            <div class="tabs-section-nav">
                <div class="tbl">
                    <ul class="nav" role="tablist">
                        {% for tab in tabs %}
                            <li class="nav-item">
                                <a class="nav-link tab-link {% if tab.is_active %} active {% endif %}"
                                   href="#{{ tab.title }}" role="tab" data-toggle="tab"
                                        {% if tab.is_active %} aria-expanded="true" {% endif %}>
                                            <span class="nav-link-in">
                                                {{ tab.title }}
                                            </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!--.tabs-section-nav-->
            <div class="tab-content">
                {% for tab in tabs %}
                    <div role="tabpanel" class="tab-pane visit-tab fade {% if tab.is_active %} active {% endif %} in"
                         id="{{ tab.title }}"  {% if tab.is_active %} aria-expanded="true" {% endif %}>
                        <div class="p2">
                            {{ tab.body|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div><!--.tab-content-->
        </section>
    </div>

{% endblock %}

{% block right_panel %}
    <div class="control-panel-container">
        <ul>
            <li class="tasks">
                <div class="control-item-header">
                    <a href="#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-archive"></span>
                    </a>
                    <span class="text">Archiwum</span>
                    <div class="actions">
                        <a href="#">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-plus"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content">
                    <div class="control-item-content-text">You don't have pending tasks.</div>
                </div>
            </li>
            <li class="templates">
                <div class="control-item-header">
                    <a href="#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-edit"></span>
                    </a>
                    <span class="text">Szablony</span>
                    <div class="actions">
                        <a href="#">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-plus"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-trash"></span>
                        </a>
                        
                    </div>
                </div>
                <div class="control-item-content">
                    <ul class="control-item-lists templates-list" data-bind="foreach: templates">
                        <li>
                            <a href="#" data-bind="attr: {title: text}">
                                <h6 data-bind="text: name"></h6>
                                <div data-bind="text: text"></div>
                            </a>
                            <a data-bind="text: key"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <a class="control-panel-toggle">
            <span class="fa fa-angle-double-left"></span>
        </a>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/visit/visit.js' %}"></script>
    <script>
        gabinet.visit = {};
        gabinet.visit.patient = {{ visit.term.patient|as_json:'id' }};
    </script>
{% endblock %}
