{% extends 'layout.html' %}
{% load static %}
{% load utils_tags %}

{% block menu %}
    {% include 'visit/main_menu.html' %}
    <div class="nav nav-inline main-nav" style="z-index: 100;" id="visit-sub-menu" data-bind="visible: !hidden()">
        <ul data-bind="foreach: forms">
            <li style="display: inline-block">
                <button class="btn btn-default-outline btn-sm" data-bind="click: $parent.showForm">
                    <span data-bind="text: title"></span>
                </button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body_extra_class %} control-panel open {% endblock %}

{% block content %}

    <div id="patient">
        <section class="box-typical box-typical-padding col-md-12">
            <h2 class="with-border" data-bind="text: patient().first_name + ' ' + patient().last_name"></h2>

            <div class="row">
                <div data-bind="text: patient().address"></div>
            </div>
            <div class="row">
                <div class="col-md-3">Pesel</div>
                <div class="col-md-9" data-bind="text: patient().pesel"></div>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="tabs-section col-md-12">
            <div class="tabs-section-nav">
                <div class="tbl">
                    <ul class="nav" role="tablist">
                        {% for tab in tabs %}
                            <li class="nav-item">
                                <a class="nav-link tab-link {% if tab.is_active %} active {% endif %}"
                                   href="#{{ tab.title }}" role="tab" data-toggle="tab"
                                        {% if tab.is_active %} aria-expanded="true" {% endif %}>
                                            <span class="nav-link-in">
                                                {{ tab.title }}
                                            </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!--.tabs-section-nav-->
            <div class="tab-content">
                <script>var tabs = [];</script>
                {% for tab in tabs %}
                    <script>
                        tabs.push({data: {{ tab.json|safe }}, title: "{{ tab.title }}", id: {{ tab.id }}});
                    </script>
                    <div role="tabpanel" class="tab-pane visit-tab fade {% if tab.is_active %} active {% endif %} in"
                         id="{{ tab.title }}"  {% if tab.is_active %} aria-expanded="true" {% endif %}>
                        <div class="p2">
                            {{ tab.body|safe }}
                        </div>
                    </div>
                    <script>
                        if (tabs[tabs.length - 1].data)
                            tabs[tabs.length - 1].model.parse(tabs[tabs.length - 1].data);
                    </script>
                {% endfor %}
            </div><!--.tab-content-->
        </section>
    </div>

{% endblock %}

{% block right_panel %}
    <div class="control-panel-container">
        <ul>
            <li class="tasks">
                <div class="control-item-header">
                    <a href="#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-archive"></span>
                    </a>
                    <span class="text">Archiwum</span>

                    <div class="actions">
                        <a href="#">
                            <span class="fa fa-refresh" data-bind="click: archive.getArchive"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-plus" data-bind='click: archive.addDocument'></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content">
                    <div class="control-item-content-text" data-bind="visible: archive.documents().length > 0">
                        <div id="archive"></div>
{#                        <ul class="control-item-lists archive-list" data-bind="foreach: archive.documents">#}
{#                            <li data-bind="click: $parent.getDocument">#}
{#                                <a href="#" data-bind="attr: {title: text}">#}
{#                                    <h6 data-bind="text: name"></h6>#}
{#                                    <div data-bind="text: text"></div>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                    <div class="control-item-content-text" data-bind="visible: archive.documents().length == 0">
                        Brak dokumentów w archiwum
                    </div>
                </div>
            </li>
            <li class="templates">
                <div class="control-item-header">
                    <a href="#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-edit"></span>
                    </a>
                    <span class="text">Szablony</span>

                    <div class="actions">
                        <a href="#">
                            <span class="fa fa-plus" data-bind="click: addTemplate"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-trash" data-bind="click: removeTemplate"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content" data-bind="visible: templates().length > 0">
                    <ul class="control-item-lists templates-list" data-bind="foreach: templates">
                        <li data-bind="click: $parent.putTemplate,
                        visible: tab_title == $parent.currentTab">
                            <a href="#" data-bind="attr: {title: text}">
                                <h6 data-bind="text: name"></h6>

                                <div data-bind="text: text"></div>
                            </a>
                            <a data-bind="text: key"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <a class="control-panel-toggle open">
            <span class="fa fa-angle-double-left"></span>
        </a>
    </div>
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/visit/visit.js' %}"></script>
    <script>
        visit.patient({{ visit.term.patient|as_json:'id,pesel,first_name,last_name,address' }});
        visit.term = {{ visit.term|as_json:'id' }};
    </script>
{% endblock %}
