{% extends 'layout.html' %}
{% load static %}

{% block menu %}
    {% include 'visit/main_menu.html' %}
{% endblock %}

{% block content %}
    <section class="tabs-section">
        <div class="tabs-section-nav">
            <div class="tbl">
                <ul class="nav" role="tablist">
                    {% for tab in tabs %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab.is_active %} active {% endif %}"
                               href="#{{ tab.title }}" role="tab" data-toggle="tab"
                               {% if tab.is_active %} aria-expanded="true" {% endif %}>
                                            <span class="nav-link-in">
                                                {{ tab.title }}
                                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!--.tabs-section-nav-->
            <div class="tab-content">
                {% for tab in tabs %}
                    <div role="tabpanel" class="tab-pane fade {% if tab.is_active %} active {% endif %} in"
                         id="{{ tab.title }}"  {% if tab.is_active %} aria-expanded="true" {% endif %}>
                        <div class="p2">
                            {{ tab.body|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div><!--.tab-content-->
    </section>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/visit/visit.js' %}"></script>
{% endblock %}