#side-datetimepicker
  .picker-switch
    text-align: center
    position: relative
    left: -10px
  .day
    cursor: pointer

#visit-menu
  margin-top: 8px

.control-panel .control-panel-container
  padding-top: 136px