$input-background: rgb(220,220,250)

html
  background-color: darkgray

body
  margin: 0 auto

.small-page
  width: 7cm
  height: 21cm
  padding: 0.25cm
  font-size: 11px
  h1
    font-size: 11px

.page
  width: 21cm
  height: 29cm
  padding: 0.5cm

.page-landscape
  width: 29.7cm
  height: 21cm
  padding: 2.5cm

.crossable
  cursor: pointer
  background-color: $input-background

.cross-out
  text-decoration: line-through!important

textarea
  background-color: $input-background!important

input[type='text'],input[type='date']
  border: none
  border-bottom: 1px dotted black
  background-color: $input-background
  padding-left: 8px
  
input[required], textarea[required]
  border-color: black

.whole_line
  width: 100%!important

.text-center
  text-align: center

footer
  margin: 1rem 0

.field-error
  border: 1px solid red

table.radio-center
  td
    text-align: center

table
  td
    border: 1px solid #aaa
    height: inherit
    textarea
      width: 100%!important
      height: 99%
      background-color: $input-background
      border: none
    input[type="checkbox"]
      width: 100%
      height: 80%
    input[type="number"], input[type="text"], input[type="date"]
      background-color: $input-background
      border: none
      height: 100%
    .readonly
      width: inherit
      background-color: inherit
table.no-border
  td
    border: none
    vertical-align: middle

.adnotations
  width: 33%
  border-top: 1px solid black
  margin-top: 50px!important

.adnotations-text
  font-size: 10px
  margin-bottom: 50px

.calendar
  width: 20px
  height: 25px
  cursor: pointer
  background-image: url('../images/calendar.png')
  background-size: contain
  border: 1px solid black
  position: relative
  left: -20px
  margin-right: -25px

.only-print
  display: none

.mt-2
  margin-top: 20px
.mb-2
  margin-bottom: 20px

.document-header
  white-space: pre
