$input-background: inherit

body
  margin: 0 auto

.cross-out
  text-decoration: line-through!important

.no-print
  display: none

input[type='text']
  border: none
  border-bottom: 1px dotted black
  padding-left: 3px

.dotted
  border-bottom: 1px dotted black!important

table.no-border
  td
    border: none!important

.whole_line
  width: 100%!important

.text-center
  text-align: center

footer
  page-break-after: always

table.radio-center
  td
    text-align: center

table
  page-break-inside: avoid
  td
    border: 1px solid #aaa
    height: inherit
    textarea
      width: 95% !important
      height: 95%
      background-color: $input-background
      margin-left: 5px
      border: none
    input[type="checkbox"]
      width: 100%
      height: 80%
      border: none
    input[type="number"], input[type="text"]
      background-color: $input-background
      border: none
    .readonly
      background-color: inherit
    .no_print
      display: none
    .checkbox
      width: 100%
      text-align: center

.adnotations
  width: 33%
  border-top: 1px solid black

.adnotations-text
  font-size: 10px
  page-break-after: always

.new-page
  padding-top: 100px

//specific
