{% extends 'user_profile/doctor/day_form_single.html' %}
{% load static %}
{% block extra %}
    <script>
        $ = django.jQuery;
    </script>
    <input name="doctor-0-working_hours" type="hidden" data-bind="value: ko.toJSON(days)" />
    <script src="{% static "js/libs/knockout.min.js" %}"></script>
        <script>
        if (window.working_hours == undefined) {
            window.working_hours = JSON.parse('{{ value }}');
            window.working_hours.forEach(function(h){
               h.hasBreak = ko.observable(h.hasBreak);
               h.dayChecked = ko.observable(h.dayChecked);
            });
        }
    </script>
    <style>
        #working-hours label {
            width: initial!important;
        }
        #working-hours table {
            width: calc(100% - 170px);
        }
    </style>
{% endblock %}