{% extends 'base.html' %}
{% load static %}
{% load utils_tags %}

{% block body %}
    <body data-ma-theme="green" class="{% block body_extra_class %}{% endblock %}">
    <main class="main main--alt">
        <div class="page-loader" style="display: none;">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                </svg>
            </div>
        </div>
        <header class="header" style="">

            <div class="header__logo hidden-sm-down">
                <a href="/" class="site-logo m-r-md">
                    {% if system_settings.logo %}
                        {#                            <img src="{{ system_settings.logo.url }}" title="Gabinet"/>#}
                    {% else %}
                        {#                            <img src="{% static "img/logo.jpg" %}" title="Gabinet"/>#}
                    {% endif %}
                </a>
            </div>
            <form class="search">
                <div class="search__inner">
                    <input type="text" class="search__text" placeholder="Search for people, files, documents...">
                    <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
                </div>
            </form>
            <ul class="top-nav">
                <li class="dropdown">
                    <a href data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                        <div class="listview listview--hover">
                            <a href class="listview__item" id="settings">
                                <div class="listview__content">Ustawienia</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="dropdown hidden-xs-down">
                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item theme-switch">
                            Theme Switch

                            <div class="btn-group btn-group--colors mt-2" data-toggle="buttons">
                                <label class="btn bg-green active waves-effect"><input type="radio" value="green"
                                                                                       autocomplete="off"
                                                                                       checked=""></label>
                                <label class="btn bg-blue waves-effect"><input type="radio" value="blue"
                                                                               autocomplete="off"></label>
                                <label class="btn bg-red waves-effect"><input type="radio" value="red"
                                                                              autocomplete="off"></label>
                                <label class="btn bg-orange waves-effect"><input type="radio" value="orange"
                                                                                 autocomplete="off"></label>
                                <label class="btn bg-teal waves-effect"><input type="radio" value="teal"
                                                                               autocomplete="off"></label>

                                <br>

                                <label class="btn bg-cyan waves-effect"><input type="radio" value="cyan"
                                                                               autocomplete="off"></label>
                                <label class="btn bg-blue-grey waves-effect"><input type="radio" value="blue-grey"
                                                                                    autocomplete="off"></label>
                                <label class="btn bg-purple waves-effect"><input type="radio" value="purple"
                                                                                 autocomplete="off"></label>
                                <label class="btn bg-indigo waves-effect"><input type="radio" value="indigo"
                                                                                 autocomplete="off"></label>
                                <label class="btn bg-lime waves-effect"><input type="radio" value="lime"
                                                                               autocomplete="off"></label>
                            </div>
                        </div>
                        <a href="" class="dropdown-item">Fullscreen</a>
                        <a href="" class="dropdown-item">Clear Local Storage</a>
                    </div>
                </li>
            </ul>
            <div class="site-header-shown">
                {% if is_doctor %}
                    <button id="show-ad-recipes" class="btn btn-nav btn-rounded btn-inline btn-default-outline">
                        <span class="">Recept: <span>{{ recipes_available }} / {{ recipes_total }}</span></span>
                    </button>
                {% endif %}

                <div id="addRecipeForm" style="display: none;">
                    <form action="/profile/add_recipes/" method="post" id="recipe-form">
                        <div class="form-group">
                            <label for="recipeInputFile">Plik recept (*.xml, *.xmz)</label>
                            <input type="file" class="form-control-file" id="recipeInputFile"
                                   aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">
                                Wybierz plik zawierający numery recept
                            </small>
                            <small></small>
                        </div>
                    </form>
                    <div id="recipe-errors" class="error"></div>
                </div>
            </div>
            {% block menu %}{% endblock %}
        </header>

        <section class="content content--full">
            <div class="container-fluid">
                {% block breadcrumb %}{% endblock %}
                {% block content %}{% endblock %}
            </div><!--.container-fluid-->
        </section><!--.page-content-->
    </main>
    {% block right_panel %}
    {% endblock %}
    <div id="hidden" style="display: block"></div>

    </body>
{% endblock %}
