{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb"Des>
        <li><a href="/">Początek</a></li>
        <li><a href="{% url 'patients' %}">Pacjenci</a></li>
        <li class="active">{% if object.first_name %} {{ object.first_name }} {{ object.last_name }}
        {% else %}Nowy pacjent{% endif %}</li>
    </ol>
{% endblock %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='patients' %}
{% endblock %}

{% block content %}
    <section class="box-typical box-typical-padding">
        <form action="" method="post">
            {% crispy form NoFormFormHelper %}
            {% block form_buttons %}
                <hr>
                {% if object %}
                    <a class="pull-left btn btn-danger" href="/profile/patients/{{ object.id }}/delete/">Usuń</a>
                {% endif %}
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit">Zapisz</button>
                    <a href="/patients/" class="btn btn-default">Anuluj</a>
                </div>
                <div class="clearfix"></div>
            {% endblock %}
        </form>

    </section>
{% endblock %}