{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb"Des>
        <li><a href="/">Początek</a></li>
        <li><a href="{% url 'patients' %}">Pacjenci</a></li>
        <li class="active">Nowy pacjent</li>
    </ol>
{% endblock %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='patients' %}
{% endblock %}

{% block content %}
    <section class="box-typical box-typical-padding">
        <form action="" method="post">
            {% crispy form NoFormFormHelper %}
            {% block form_buttons %}
                <hr>
                <button class="btn btn-success" type="submit">Zapisz</button>
                <a href="/patients/" class="btn btn-default">Anuluj</a>
            {% endblock %}
        </form>

    </section>
{% endblock %}