{% load static %}
<html>
<head lang="pl">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ APP_URL }}assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ APP_URL }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ APP_URL }}assets/css/pdf.css">
    {% block extra_styles %}
    {% endblock %}
</head>
<header>
    {% block header %}
    {% endblock %}
</header>
<body>
    {% block body %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>
