{% extends 'pdf/base.html' %}
{% load static %}

{% block header %}
    <img class="mb-2" src="{{ APP_URL }}assets/img/logo.jpg"/>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 text-left font-lg">
                {{ header_left|linebreaks }}
            </div>
            <div class=" col col-md-6 text-right font-lg">
                {{ header_right|linebreaks }}
            </div>
        </div>
    </div>
    <table class="table" style="margin-top: 4rem; margin-bottom: 2rem;">
        <tbody>
        <tr>
            <td>Nazwisko</td>
            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
        </tr>
        <tr>
            <td>Pesel</td>
            <td>{{ patient.pesel }}</td>
        </tr>
        <tr>
            <td>Data</td>
            <td>{% now "Y-m-d" %}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-center mt-2" style="text-align:center;">Skierowanie na badania</h3>
    {% if icd %}
        <p>Rozpoznanie:</p>
        {% for i in icd %}
            {{ i.code }}{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <body>
        {% if examinations %}
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Kategoria</td>
                </tr>
            </thead>
        {% endif %}
        {% for examination in examinations %}
            <tr>
                <td>{{ examination.name }}</td>
                <td>{{ examination.category }}</td>
            </tr>
        {% endfor %}
        </body>
    </table>
{% endblock %}

{% block footer %}
    <p style="text-align: right; margin-top: 4rem;">
        {{ user.doctor.title }} {{ user.doctor.user.first_name }} {{ user.doctor.user.last_name }} <br/>
        numer PWZ: {{ user.doctor.pwz }}
    </p>
{% endblock %}
