{% extends 'pdf/base.html' %}
{% load static %}

{% block extra_styles %}
    <style>
        body {
            font-size: 14px;
        }
        .font-lg {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col col-md-6 text-left font-lg">
                {{ header_left|linebreaks }}
            </div>
            <div class=" col col-md-6 text-right font-lg">
                {{ header_right|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <span class="font-lg">Imię i nazwisko: <strong>{{ patient.first_name }} {{ patient.last_name }}</strong></span><br/>
        <span class="font-lg">Data: <strong>{{ visit.created|date:"d-m-Y H:i" }}</strong></span><br/>
        <span class="font-lg">Adres: <strong>{{ patient.address|default:'-' }}</strong></span><br/>
        <span class="font-lg">Pesel: <strong>{{ patient.pesel|default:'-' }}</strong></span><br/>
        <span class="font-lg">Data urodzenia: <strong>{{ patient_birth_date|date:"d-m-Y"|default:'-' }}</strong></span><br/>
        <span class="font-lg">Wiek: <strong>{{ patient_age|default:'-' }} lat</strong></span>
        <h1 class="text-center">Historia choroby</h1>
        {% for tab in visit.printable_tabs %}
            {% if tab.type == 'ICD10' %}
                <h2>{{ tab.title }}</h2>
                {% include 'pdf/tabs/icd10.html' with icdtovisit=visit.icdtovisit_set.all %}
            {% else %}
                {% if tab.data %}
                    <div>
                        <h2>{{ tab.title }}</h2>
                        {% if tab.type == 'MEDICINES' %}
                            {% include 'pdf/tabs/medicines.html' with medicines=tab.data.selections %}
                        {% elif tab.type == 'EXAMINATIONS' %}
                            {% include 'pdf/tabs/examinations.html' with examinations=tab.data %}
                        {% else %}
                            {{ tab.data|linebreaks }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
