{% extends 'pdf/base.html' %}

{% block body %}
    <h1>Historia choroby</h1>
    {% for tab in visit.tabs.all %}
        <div>
            {% if tab.title == 'Rozpoznanie' %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>{{ icd.code }}</td>
                            <td>{{ icd.desc }}</td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                {{ tab.body }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}