{% extends 'layout.html' %}
{% load static %}

{% block extra_scripts %}
    <script src="{% static "js/lib/bootstrap-table/bootstrap-table.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/bootstrap-table-export.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/tableExport.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/PL-pl.js" %}"></script>
    <script src="{% static "js/archive.js" %}"></script>
{% endblock %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='archive' %}
{% endblock %}

{% block content %}
    <section class="box-typical">
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <div class="bootstrap-table-header">Archiwum</div>
                    <a href="" class="btn btn-success">
                        <i class="font-icon font-icon-plus"></i> DODAJ
                    </a>
                </div>
                <div class="table-responsive">
                    <table id="archive-table">
                    </table>
                </div>
            </div>
        </div>
    </section><!--.box-typical-->
{% endblock %}