{% extends 'layout.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.css" %}">
    <link rel="stylesheet" href="{% static "css/separate/pages/calendar.css" %}">
    <style>
        #specialization {
            max-width: 200px;
        }
        .calendar-page .calendar-page-content {
            margin-top: -9px;
        }

        .colors-guide-list li {
            display: inline-block !important;
        }

        #doctors-list tr {
            cursor: pointer;
        }

        .fc-row.fc-widget-header tr {
            height: 48px;
        }

        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
    <script src="{% static "fullcalendar/dist/locale/pl.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/full_calendar.js" %}"></script>
{% endblock %}
{% block content_scripts %}
    <script>
        fullCalendarView.specializations = JSON.parse('{{specializations|safe}}');
        fullCalendarView.localizations = JSON.parse('{{localizations|safe}}');
        fullCalendarView.services = JSON.parse('{{services|safe}}');
        fullCalendarView.service = fullCalendarView.services[0].name;
    </script>
{% endblock %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='calendar' %}
{% endblock %}

{% block content %}
    <div class="box-typical" id="calendar-controls">
        <div class="row m-1">
            <form class="form-inline" id="calendar-filters">
                <div class="form-group">
                    <label for="specialization">Specjalizacja</label>
                    <select class="form-control" id="specialization" v-model="selectedSpecialization">
                      <option value="">Wybierz...</option>
                      <option v-for="option in specializations" v-bind:value="option.id">
                          {% verbatim %}{{option.name}}{% endverbatim %}
                      </option>
                    </select>
                </div>
                <div class="form-group" v-if="services.length > 1">
                    <label for="service">Usługa</label>
                    <select class="form-control" id="service" v-model="selectedService">
                      <option value="">Wybierz...</option>
                      <option v-for="option in services" v-bind:value="option.id">
                          {% verbatim %}{{option.name}}{% endverbatim %}
                      </option>
                    </select>
                </div>
                <div class="form-group ml-1" data-if="services.length == 1">
                    <label for="service">Usługa</label>
                    <input id="service" class="form-control" v-model="service" readonly />
                </div>
                <div class="form-group ml-1" v-if="localizations.length > 1">
                    <label for="localization">Lokalizacja</label>
                    <select class="form-control" id="localization" v-model="selectedLocalization">
                      <option value="">Wybierz...</option>
                      <option v-for="option in localizations" v-bind:value="option.id">
                          {% verbatim %}{{option.name}}{% endverbatim %}
                      </option>
                    </select>
                </div>
                <div class="form-group ml-1">
                    <label for="date-from">Data od</label>
                    <input type='date' class="form-control" id="date-from" v-bind:value="dateFrom">
                    </select>
                </div>
                <button type="button" class="btn btn-primary ml-1" @click="loadDoctors">Filtruj</button>
            </form>
        </div>
        <div class="col-md-3 pl-0 pr-0">
            <table class="table table-hover table-sm" id="doctors-list">
                <thead>
                <tr>
                    <th>Lekarz</th>
                    <th title="Najbliższy wolny termin">Termin</th>
                </tr>
                <tr>
                    <th><input placeholder="Nazwisko..." type="text" class="form-control form-control-sm"
                               v-model="doctorFilter"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="d in doctors">
                    <tr @click="loadDoctorCalendar(d)" v-bind:class="[doctor.id==d.id ? 'table-active': '']">
                        <td>{% verbatim %}{{ d.name }}{% endverbatim %}</td>
                        <td>{% verbatim %}{{ d.first_term }}{% endverbatim %}</td>
                    </tr>
                </template>
                <tr v-if="doctors.length==0">
                    <td colspan="2" class="empty-row">Brak wyników</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="calendar-page col-md-9 pr-0 pl-0">
            <div class="calendar-page-content">
                <div class="calendar-page-title">Kalendarz</div>
                <div>
                    <div id='calendar'></div>
                </div><!--.calendar-page-content-in-->
            </div><!--.calendar-page-content-->
        </div><!--.calendar-page-->
        <ul class="colors-guide-list pull-right mr-1" id="calendar-legend">
            <li data-status="FINISHED">
                <div class="FINISHED legend-block">
                    <div></div>
                </div>
                Wizyty zakończone
            </li>
            <li data-status="PENDING">
                <div class="PENDING legend-block">
                    <div></div>
                </div>
                Wizyty zaplanowane
            </li>
            <li data-status="CANCELLED">
                <div class="CANCELLED legend-block">
                    <div></div>
                </div>
                Wizyty anulowane
            </li>
            <li data-status="FREE">
                <div class="FREE legend-block">
                    <div></div>
                </div>
                Wolne terminy
            </li>
        </ul>
        <div class="clearfix"></div>
    </div><!--.box-typical-->
    <div class="confirm-move" style="display:none;">
        <div class="fc-popoverr click" style="left: 591px; top: 544px;">
            <div class="fc-header"><span id="confirm-move-title">Potwierdź proszę</span>
                <button type="button" class="cl"><i class="font-icon-close-2"></i></button>
            </div>
            <div class="fc-body main-screen">
                <span class="confirm-move-text"></span>

                <div class="text-center">
                    <button type="button" class="btn btn-rounded btn-sm confirm-move-ok">Ok</button>
                    <button type="button" class="btn btn-rounded btn-sm btn-default remove-popover">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
