<ul class="main-nav nav nav-inline" style="z-index: 100;">
    <li class="nav-item">
        <a class="nav-link {% if section == 'calendar' %} active {% endif %}" href="/">Kalendarz</a>
    </li>
    {% if perms.user_profile.can_edit_patient %}
        <li class="nav-item">
            <a class="nav-link {% if section == 'patients' %} active {% endif %}" href="/patients/">Lista pacjentów</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if section == 'archive' %} active {% endif %}" href="{% url 'archive' %}">Archiwum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if section == 'medicines' %} active {% endif %}" href="/medicines/">Lista leków</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if section == 'icd' %} active {% endif %}" href="/icd10/">Kody Icd-10</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if section == 'templates' %} active {% endif %}" href="{% url 'templates' %}">Szablony</a>
    </li>
    {% if perms.visit.can_edit_tab %}
        <li class="nav-item">
            <a class="nav-link {% if section == 'tabs' %} active {% endif %}" href="{% url 'tabs' %}">Zakładki</a>
        </li>
    {% endif %}




</ul>