{% extends 'layout.html' %}
{% load static %}

{% block extra_scripts %}
    <script src="{% static "js/lib/bootstrap-table/bootstrap-table.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/bootstrap-table-export.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/tableExport.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-table/PL-pl.js" %}"></script>
    <script src="{% static "js/patients.js" %}"></script>
{% endblock %}

{% block menu %}
    {% include 'dashboard/main_menu.html' with section='patients' %}
{% endblock %}

{% block content %}
    <section class="box-typical">
        <div class="row">
            <div class="col-md-8">
                <div id="toolbar">
                    <div class="bootstrap-table-header">Lista pacjentów</div>
                    <button id="remove" class="btn btn-danger remove" disabled>
                        <i class="font-icon font-icon-close-2"></i> Delete
                    </button>
                </div>
                <div class="table-responsive">
                    <table id="patients-table">
                    </table>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </section><!--.box-typical-->
{% endblock %}