<div id="medicines">

    <div class="mb-2">
        <div class="form-inline">
            <label class="mr-1" for="division">Oddział NFZ</label>
            <input maxlength="2" class="mr-2 form-control" type="text" id="division" value="11" style="width:50px;"/>
            <label class="mr-1" for="special">Uprawnienia specjalne</label>
            <input type="text" value="X" id="special" class="form-control mr-2" maxlength="2" style="width:50px;"/>
            <button class="btn btn-primary">Drukuj receptę</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class=" col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Skład</th>
                    <th>Dawka</th>
                    <th style="width:300px">Opakowanie</th>
                    <th style="width:100px;">Refundacja</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: medicines -->
                <tr>
                    <td>
                        <input class="form-control"
                               data-bind="jqAuto: { value: $data, source: $parent.getMedicines, labelProp: 'name' }"/>
                    </td>
                    <td data-bind="text: composition"></td>
                    <td data-bind="text: dose"></td>
                    <td><select class="form-control"></select></td>
                    <td style="width:100px;">
                        <select data-bind="attribute: {disabled: !name}" class="form-control"></select>
                    </td>
                    <td>
                        <btn data-bind="{attribute: {disabled: !name}, click: $parent.removeMedicine}"
                             class="btn btn-danger">Usuń
                        </btn>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td>
                        <input class="form-control"
                               data-bind="jqAuto: { value: newMedicine, source: getMedicines, labelProp: 'name',
                               options:{delay:200,
                               classes: {'ui-autocomplete': 'autocomplete-list'}} },
                               template: 'rowTmpl'"/>
                    </td>
                    <td data-bind="text: newMedicine().composition"></td>
                    <td data-bind="text: newMedicine().dose"></td>
                    <td><select class="form-control" style="width:300px"
                                data-bind="options: newChildren, optionsText: 'size', value: newSize,
                     optionsCaption: 'Wybierz...', disable: newChildren().length==0"></select></td>
                    <td style="width:100px;">
                        <select data-bind="disable: newChildren().length==0" class="form-control"></select>
                    </td>
                    <td>
                        <button data-bind="{disable: !newSize(), click: addMedicine}"
                             class="btn btn-success">Dodaj
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/js/visit/tabs/medicines.js"></script>

<script id="rowTmpl" type="text/html">
    <a>
        <span data-bind="text: name"></span>
    </a>
</script>
