<div id="medicines">

    <div class="mb-2">
        <div class="form-inline">
            <label class="mr-1" for="division">Oddział NFZ</label>
            <input maxlength="2" data-bind="value: nfz" class="mr-1 form-control" type="text" id="division" value="11" style="width:50px;"/>
            <label class="mr-1" for="special">Uprawnienia specjalne</label>
            <input type="text" data-bind="value: permissions" id="special" class="form-control mr-1" maxlength="2" style="width:50px;"/>
            <label class="mr-1" for="realisationDate">Data realizacji</label>
            <input type="date" data-bind="value: realisationDate" id="realisationDate" class="form-control mr-1" style="width:175px;"/>
            <label for="use-number">Numer recepty</label>
            <input title="Decyduje czy na recepcie ma być nadrukowany numer recepty"
                   id="use-number" type="checkbox" class="form-control" name="use-number" />
            <button class="btn btn-primary ml-1" data-bind="click: printRecipe" title="Drukuj receptę">Drukuj</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class=" col-md-12">
            <table class="table table-striped medicines-table">
                <thead>
                <tr>
                    <th>Lek</th>
                    <th style="width:150px">Opakowanie</th>
                    <th style="width:100px">Ilość</th>
                    <th style="width:200px">Dawkowanie</th>
                    <th style="width:150px;">Refundacja</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: medicines -->
                <tr>
                    <td>
                        <input class="form-control"
                               data-bind="jqAuto: { value: selection, source: $parent.getMedicines, labelProp: 'name',
                               options:{delay:200,
                               classes: {'ui-autocomplete': 'autocomplete-list'}} },
                               template: 'rowTmpl'"/>
                        <span title="skład" data-bind="text: composition"></span>
                        <span title="dawka" data-bind="text: dose"></span>
                    </td>
                    <td>
                        <select class="form-control" style="width:150px"
                                data-bind="options: children, optionsText: 'size', value: size,
                     optionsCaption: 'Wybierz...', disable: children().length==0"></select>
                    </td>
                    <td><input type="text" class="form-control" data-bind="value: dosage"/></td>
                    <td><input type="text" class="form-control" data-bind="value: amount"/></td>
                    <td style="width:100px;">
                        <select data-bind="options: nfz, optionsText: 'to_pay', value: refundation,
                     optionsCaption: 'Wybierz...', disable: nfz().length==0" class="form-control"></select>
                    </td>
                    <td>
                        <!-- ko if: (parseInt($index())==$parent.medicines().length-1) -->
                        <button data-bind="{disable: children().length==0, click: $parent.addMedicine}"
                             class="btn btn-success">Dodaj
                        </button>
                        <!-- /ko -->
                        <!-- ko if: $parent.medicines().length-1>parseInt($index()) -->
                        <button data-bind="{click: $parent.removeMedicine}"
                             class="btn btn-danger">Usuń
                        </button>
                        <!-- /ko -->
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/js/visit/tabs/medicines.js"></script>

<script id="rowTmpl" type="text/html">
    <a>
        <span data-bind="text: name"></span>
    </a>
</script>
