<div id="services">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <input data-bind='textInput: inputValue' type="text" class="form-control mr-1 tab-focus"
                       id="services-search" placeholder="Nazwa lub typ badania"/>
                <label class="form-check-label">
                    <input class="form-check-input" id="print-services-icd" type="checkbox"> Drukuj rozpoznanie
                </label>
                <button class="ml-1 btn btn-primary" data-bind="click: print">Drukuj</button>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <div class="tab-error" data-bind="text: errors"></div>
        <div class=" col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: services -->
                <tr class="table-info">
                    <td data-bind="text: name"></td>
                    <td data-bind="text: group"></td>
                    <td>
                        <btn class="btn btn-danger" data-bind="click: $parent.removeService">Usuń</btn>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: suggestions -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: group"></td>
                    <td>
                        <btn class="btn btn-success" data-bind="click: $parent.addService">Dodaj</btn>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/js/visit/tabs/services.js"></script>
