<div id="icd10">
    <div class="row">
        <div class="col-md-12">
            <input data-bind='textInput: inputValue' type="text" class="form-control"
                   id="icd-search" placeholder="Nazwa lub typ badania"/>
        </div>
    </div>

    <div class="row mt-2">
        <div class="tab-error" data-bind="text: errors"></div>
        <div class=" col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: icd10 -->
                <tr class="table-info">
                    <td data-bind="text: name"></td>
                    <td data-bind="text: group"></td>
                    <td>
                        <btn class="btn btn-danger" data-bind="click: $parent.removeIcd">Usuń</btn>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: suggestions -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: grup"></td>
                    <td>
                        <btn class="btn btn-success" data-bind="click: $parent.addService">Dodaj</btn>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/js/visit/tabs/services.js"></script>
